<div class="header">
  <div class="header-container">
    <div class="header-left">
      <h2 class="header-title">
        <a href="#">Recipe Book</a>
      </h2>
      <nav class="nav">
        <ul>
          <li (click)="onSelect('RECIPE')">Recipe</li>
          <li (click)="onSelect('SHOPPING')">Shopping List</li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <button mat-raised-button color="primary" appDropdown>
        <mat-icon>expand_more</mat-icon>
        <span>Manage Recipe</span>
      </button>
      <ul class="hide">
        <li>
          <a href="#">Save Data </a>
        </li>
        <li>
          <a href="#">Fetch Data</a>
        </li>
      </ul>
    </div>
  </div>
</div>
