<div class="header">
  <div class="header-container">
    <div class="header-left">
      <h2 class="header-title">
        <a href="#">Recipe Book</a>
      </h2>
      <nav class="nav">
        <ul>
          <li (click)="onSelect('RECIPE')">Recipe</li>
          <li (click)="onSelect('SHOPPING')">Shopping List</li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <p>Manage</p>
      <mat-icon class="manage-icon">expand_more</mat-icon>
      <!-- transform: rotate(180deg); -->
    </div>
  </div>
</div>
